.container {
  display: flex;
  flex-direction: column;
  grid-area: 7 / 3 / 7 / 15;
}

.container h2 {
  border-bottom: 3px solid black;
  border-radius: 3px;
  padding: 5px;
}

.container h2:before {
  content: '\23\35';
  font: var(--fa-font-solid);
}

.content{
  display: flex;
}

.pons {  
  background-color: #DFDFDF;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 1px;
  padding: 5px;
  text-align: center;
}