.container { 
  grid-area: 7 / 3 / 7 / 9;
  margin-right: 10px;
}

.h2 {
  grid-area: 7 / 3 / 2 / 15;
}

.container h2 {
  border-bottom: 3px solid black;
  border-radius: 3px;
  padding: 5px;
}

.container h2:before {
  content: '\23\36';
  font: var(--fa-font-solid);
}

.content {
  background-color: #5E6573;
  border: 1px solid #3d414a;
  border-radius: 3px;
  color: whitesmoke;
  display: flex;
  padding: 10px;
}

.select select {
  border: none;
  font-weight: bold;
  height: 30px;
  margin-left: 10px;
  text-align: center;
  width: 100px;
}