.container {
  align-items: center; 
  grid-area: 8 / 7 / 8 / 12;
  margin-left: 10px;
  margin-top: 67.5px;
}

.content {
  background-color: #cdc997;
  display: flex;
  justify-content: center;
  padding: 10px;
}