.container {
  align-items: center; 
  grid-area: 8 / 9 / 8 / 15;
  margin-left: 10px;
  margin-top: 72px;
}

.content {
  background-color: #cdc997;
  display: flex;
  justify-content: center;
  padding: 10px;
}