.container{
  align-items: center;
  background-color: #5E6573;
  border: 1px solid #3d414a;
  border-radius: 3px;
  color: white;
  display: flex;
  flex-direction: column;
  grid-area: 1 / 3 / 1 / 15;
  margin-top: 10px;
  padding: 30px;
}

.containerBtn{
  display: flex;
  justify-content: space-between;
  width: 330px;
}

.select {
  border: none;
  cursor: pointer;
  font-family: 'Fira Sans', Segoe UI, Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  height: 35px;
  text-align: center;
  width: 250px;
}

select {
  cursor: pointer;
}

.modoContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.btnActive {
  background-color: #2a2f37;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-family: "Fira Sans", "Segoe UI", Arial, "sans- serif";
  font-size: 1rem;
  font-weight: bold;
  margin: 15px 0 0 5px;
  padding: 8px 0px;
  text-align: center;
  width: 150px;
}

.btnActive:before{
  color: #24ac50;
  content: '\f00c\ ';
  font-family: FontAwesome;
}

.btnNotActive {
  background-color: #f0f0f0;
  border-radius: 3px;
  color: #2a2f37;
  cursor: pointer;
  font-family: "Fira Sans", "Segoe UI", Arial, "sans- serif";
  font-size: 1rem;
  font-weight: bold;
  margin: 15px 0 0 5px;  
  padding: 8px 0px;
  text-align: center;
  width: 150px;
}

.h2 {
  margin: 0;
}

.h1 {
  margin-top: 0;
}