.container {
  grid-area: 5 / 3 / 5 / 15;
}

.container h2 {
  border-bottom: 3px solid black;
  border-radius: 3px;
  padding: 5px;
}

.container h2:before {
  content: '\23\33';
  font: var(--fa-font-solid);
}

.content {
  background-color:#282828;
  box-shadow: 0 0 0.5em black;  
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px; 
}

.container select {
  border: none;
  font-weight: bold;
  height: 35px;
  margin: 10px 0 10px 5px;
  padding: 5px;
  text-align: center;
  text-transform: capitalize;
  width: 180px;
}

.h4 {
  color: lightgray;
  margin: 5px;
}

.h4:before {
  content: '\23';
  font: var(--fa-font-solid);
}

.code {
  cursor: pointer;
  padding: 5px 10px 15px 10px;
}

.code:hover{
  background-color: #343333;
}

.code:active{
  background-color: #3c5745;
}

.code:before{
  animation: pulse 3s infinite;
  content: '[ Clique para copiar ]';
  display: flex;
  font-family: 'JetBrains Mono', monospace, arial;
  font-size: x-small;
  justify-content: end;
  text-transform: uppercase;
}

@keyframes pulse {
	0% {
		color: lightgray;
	}

  50% { 
    color: goldenrod;
  }

	100% {
		color: lightgray;
	}
}