.container {
  grid-area: 8 / 3 / 19 / 9;
  margin-right: 10px;
}

.containerRouter {
  grid-area: 8 / 9 / 19 / 15;
  margin-left: 10px;
}

.content {
  background-color: black;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.container select {
  background-color: #696969;
  color: white;
  margin-bottom: 10px;
  padding: 5px;
  width: fit-content;
}

.code {
  cursor: pointer;
  padding: 15px 10px;
}

.code:hover {
  background-color: #1e1e1e;
}

.code:active {
  background-color: #3c5745;
}

.code:before {
  animation: pulse 3s infinite;
  content: "Copiar";
  display: flex;
  font-family: "JetBrains Mono", monospace, arial;
  font-size: x-small;
  justify-content: end;
  text-transform: uppercase;
}

@keyframes pulse {
  0% {
    color: lightgray;
  }

  50% {
    color: goldenrod;
  }

  100% {
    color: lightgray;
  }
}
