.container {
  background-color: whitesmoke;
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(10 1fr);
}

.container h2 {
  border-bottom: 3px solid black;
  border-radius: 3px;
  grid-area: 1 / 4 / 1 / 14;
  padding: 5px;
}

.content{
  display: flex;
  grid-area: 2 / 4 / 2 / 14;
  justify-content: center;
}

.pons {  
  background-color: #DFDFDF;
  border: 1px solid #cecece;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.h5 {
  background-color: #000000;
  border-radius: 3px;
  color: white;
  font-size: small;
  margin: 0 0 5px 0;
  padding: 3px;
  text-align: center;
}

.contentCode {
  background-color: black; 
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  grid-area: 3 / 4 / 4 / 14;
  padding: 20px; 
}

.code {
  cursor: pointer;
  padding: 15px 10px;
}

.code:hover{
  background-color: #1e1e1e;
}

.code:active{
  background-color: #3c5745;
}

.code:before{
  animation: pulse 3s infinite;
  content: '[ Clique para copiar ]';
  display: flex;
  font-family: 'JetBrains Mono', monospace, arial;
  font-size: x-small;
  justify-content: end;
  text-transform: uppercase;
}

@keyframes pulse {
	0% {
		color: lightgray;
	}

  50% { 
    color: goldenrod
  }

	100% {
		color: lightgray;
	}
}