.container {
  display: flex;
  flex-direction: column;
  grid-area: 2 / 4 / 2 / 14;
  justify-content: center;
}

.container h2 {
  border-bottom: 3px solid black;
  border-radius: 3px;
  grid-area: 1 / 4 / 1 / 14;
  margin: 0 0 20px 0;
  padding: 5px;
}

.content {
  display: flex;
  justify-content: center;
}

.pons {
  background-color: #dfdfdf;
  border: 1px solid #cecece;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 10px 10px 0;
  padding: 5px;
  text-align: center;
}

.pons:last-child {
  margin-right: 0;
}

.pons label,
input {
  margin-bottom: 5px;
}

.title {
  background-color: #000000;
  border-radius: 3px;
  color: white;
  margin: 0 0 5px 0;
  padding: 5px;
  text-align: center;
}

.Span {
  color: #818181;
  font-size: 0.6rem;
  font-style: italic;
}

.contentCode {
  background-color: black;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  grid-area: 3 / 4 / 4 / 14;
  margin-bottom: 20px;
  padding: 20px;
}

.code {
  cursor: pointer;
  padding: 15px 10px;
}

.code:hover {
  background-color: #1e1e1e;
}

.code:active {
  background-color: #3c5745;
}

.code:before {
  animation: pulse 3s infinite;
  content: "Copiar";
  display: flex;
  font-family: "JetBrains Mono", monospace, arial;
  font-size: x-small;
  justify-content: end;
  text-transform: uppercase;
}

@keyframes pulse {
  0% {
    color: lightgray;
  }

  50% {
    color: goldenrod;
  }

  100% {
    color: lightgray;
  }
}

::-webkit-input-placeholder {
  /* Edge */
  color: #a0a0a0;
  font-size: 0.8rem;
  text-transform: uppercase;
}
