.menu {
  background-color: black;
  border-radius: 3px; 
  font-size: 0.8rem;
  font-weight: bold;
  grid-area: 3 / 1 / 3/ 1;
  height: fit-content;
  list-style: none;
  margin-left: 1px;
  padding: 15px 15px 15px 10px;
  position: fixed;
  top: 55px;
}

.menuItem {
  color: white;
  padding: 5px;
}

/* .menuItem:before {
  color:lightgray;
  content:'\f0da';
  font: var(--fa-font-solid);
 }  */

.menuItem:hover {
  background-color: #00A335;
  border-radius: 3px;
  color: white;
}