.container {
  background-color: #F5F5F5;
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 10px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 0.5fr repeat(12, 1fr);
}
.div3 { 
  background-color:cadetblue;
  grid-area: 3 / 2 / 7 / 4; 
}
.div4 { 
  background-color:aquamarine;
  grid-area: 2 / 4 / 7 / 6; 
}
.div5 { 
  background-color:#00bfff;
  grid-area: 2 / 6 / 7 / 8; 
}

.div6 { 
  background-color:#00ffa2;
  grid-area: 7 / 2 / 12 / 4; 
}