.content{
  align-items: center;
  background-color: #5E6573;
  border-radius: 3px;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.buttons{
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.h2 {
  margin: 0;
}