/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */

.container {
  grid-area: 2 / 2 / 2 / 12;
}

.gpon {
  display: flex;
  
}

label {
  font-size: 0.8rem;
  font-weight: bold;
}

input,
select {
  background-color: #e6e6e6;  
  border: none;
  border-radius: 0.2rem;
  font-size: 0.9rem;
  margin-bottom: 0.1rem;
  text-align: center;
  width: 100%;
}

select {
  width: 100px;
}

h5 {
  background-color: #00A335;
  border-radius: 3px;
  color: white;
  margin: 0 0 5px 0;
  padding: 3px;
  text-align: center;
}

.uplinkselect {
  background-color: #5E6573;
  border-radius: 5px;
  color: white;
  margin-bottom: 10px;
  padding: 10px;
  width: 180px;
}

.uplinkselect label {
  margin-right: 10px;
}

.pons {  
  background-color: #DFDFDF;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 2px;
  padding: 5px;
  text-align: center;
}

