.container {

  background-color: violet;
  display: flex;  
  flex-direction: column;
  grid-area: 2 / 2 / 7 / 4;
  padding: 0.5rem;
}

label {
  font-size: 0.8rem;
  font-weight: bold;
  margin-right: 0.5rem;

}

input {
  border: 1px solid black;
  border-radius: 0.2rem;
  font-size: 0.8rem;
  margin-bottom: 0.1rem;
  padding: 0.1rem;
  width: 100px;
}

input.aim{
  background-color: #ea9fea;
  margin-right: 0.5rem;
  width: 40px;

}

h4 {
  margin: 5px;
}

.teste {
  align-items: center;
  background-color: #d46ed4;
  border-radius: 5px;
  display: flex;
  margin: 5px;
}
