@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=JetBrains+Mono&display=swap');

html {
  scroll-behavior:smooth
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body, select, input{
  box-sizing: border-box;
  font-family: 'Fira Sans',Segoe UI, Arial, sans-serif;
  margin: 0;
}

label {
  font-size: 0.8rem;
  font-weight: bold;
}

input {
  background-color: #e6e6e6;  
  border: none;
  border-radius: 3px;
  font-size: 0.9rem;
  margin-bottom: 3px;
  text-align: center;
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

pre {
  font-family: 'JetBrains Mono', monospace, arial;
  font-size: 0.8rem;
  margin: 0;
  padding: 0
}

pre::before {
  color: mediumaquamarine;
  content: '# ';
}

hr {
  border: 1px solid whitesmoke;
  width: 100%;
}

.container {
    background-color: whitesmoke;
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(2, 0.8fr);
}

.h1 {
  grid-area: 2 / 3 / 2 / 15;
}

.menu {
    background-color: black;
    border-radius: 3px;
    box-shadow: 0 0 0.5em black;  
    font-size: 0.8rem;
    font-weight: bold;
    grid-area: 3 / 1 / 3/ 1;
    height: fit-content;
    list-style: none;
    margin-left: 3px;
    padding: 15px 15px 15px 10px;
    position: sticky;
    top: 20%;
    width: max-content;
  }

  .menuItem {
    color: white;
    padding: 5px;
  }

  .menuItem:before {
    color:tomato;
    content:'\23';
    font: var(--fa-font-solid);
  } 

  .menuItem:hover {
    background-color: #00A335;
    border-radius: 3px;
    color: white;
  }