.container {
    background-color: whitesmoke;
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 0.8fr);
}

.h1 {
    grid-area: 2 / 2 / 2 / 12;
}

.nav {
    background-color: black;
    border-radius: 10px 10px 10px 10px;
    font-size: 0.7rem;
    font-weight: bold;
    grid-area: 3 / 2 / 3/ 1;
    height: fit-content;
    margin-left: 5px;
    margin-top: 10%;
    padding: 10px 5px;
    position: fixed;
    text-transform: uppercase;
    width: fit-content;
  }

  .navItem:before {
    color:white;
    content:'# ';
  }
  
  body {
    box-sizing: border-box;
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  a {
    color: white;
    text-decoration: none;
  }