.content{
  align-items: center;
  background-color: #5E6573;
  border-radius: 3px;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.containerBtn{
  display: flex;
  justify-content: space-between;
  width: 330px;
}

.btn {
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: "Fira Sans", "Segoe UI", Arial, "sans- serif";
  font-size: 1rem;
  font-weight: bold;
  margin-top: 15px;
  padding: 8px 0px;
  text-align: center;
  width: 150px;
}

.h2 {
  margin: 0;
}